<p>(donor version of client show page)</p>
  <h1><%=@client.client_alias%></h1>
<%=@client.id%>
<%= render "client_info", {client: @client}%>

<!-- Goals -->
<h1>Current Goals:</h1>
<div class="flex-boxes">
  
  <% @client.goals.each do |goal|%>
    
    <% if goal.status == "open" %>

      <a href="javascript:void(0)" class="flex-box">
          <%if goal.card_type == "weekly"%>
            <img src="<%=asset_path('week64.png')%>" alt="week" style="float: left;">
          <%elsif goal.card_type == "monthly"%>
            <img src="<%=asset_path('month64.png')%>" alt="month" style="float: left;">
          <%end%>
        <h1 class="flex-title">
          <b><%=goal.card_start_date.strftime('%b %-d')%></b>,
          <%=goal.card_start_date.strftime('%Y')%>
        </h1>
        <p>
          <b><%=goal.card_type.capitalize%></b> Metro Card
          <hr>
          <%stats = progress_calc(goal)%>
          <div class="progress-bar-indication">
            <span class="meter" style="width: <%= stats[:progress]%>%">
              <p><%= stats[:progress]%>%</p>
            </span>
          </div>
          <p><i>(<%=number_to_currency(stats[:donation_sum])%> / <%=number_to_currency(goal.cost)%>)</i></p>
          <button>Donate</button>
          <hr>
          
          <div class="donate_form">
            <%= form_tag("/donation", method: "post") do %>
              
              <%= label_tag(:amount, "Donation Amount:") %>
              <%= text_field_tag(:amount) %>
              <%= hidden_field_tag(:donor_id, current_user.id ) %>
              <%= hidden_field_tag(:client_id, @client.id) %>
              <%= hidden_field_tag(:goal_id, goal.id) %>
              

              <%= submit_tag("Submit Donation") %>
            <%end%>

            
            

          </div>

        </p>      
      </a>

    <%end%>

  <%end%>
</div>